@import url("https://fonts.googleapis.com/css2?family=Combo&family=Fira+Sans:ital@0;1&family=Hind+Madurai:wght@700&family=Inspiration&family=Lobster+Two:ital@1&family=Poppins:ital@1&family=Silkscreen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Combo", cursive;
}
.subcont {
  /* border: 2px solid red; */
  min-width: 400px;
  box-shadow: 0px 0px 20px;
  min-height: 400px;
}
.mid {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 6%;
}
.right {
  display: flex;
  justify-content: end;
}
.right div {
  width: 6px;
  height: 6px;
  border: 2px solid gray;
  border-radius: 30px;
  margin: 2px;
  /* background-color: grey; */
}
.first {
  background-color: grey;
  width: 6px;
  height: 6px;
}
.para1 p {
  text-align: end;
}
#logoarrow {
  width: 14px;
  transform: rotate(75deg);
}
#logosun {
  width: 60px;
  background-color: yellow;
  /* filter: invert(100%); */
  border-radius: 30px;
  margin: 12px 50px;
}
.bold {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.right span {
  width: 2px;
  height: 2px;
  border: 2px solid gray;
}
.information-weather {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
}
.right1 {
  padding-right: 4%;
}
.footer {
  background-color: #282525;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.days {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.days div {
  margin: 5px;
}
